<!-- <p class="nav-header">Monte sua Pokedex!</p> -->
<p>
    <mat-toolbar class="nav-header-material" color="primary">
        <span class="nav-header-spacer">
            <a [routerLink]="['']">
                <img src="../../assets/images/pokemon.png" alt="Pokemon">
            </a>
            
        </span>
        <span>
            <a [routerLink]="['/pokedex']">
                <img src="../../assets/images/pokedex.png" alt="Pokedex">
            </a>            
        </span>
    </mat-toolbar>
</p>