.nav-header{
    color: #FFC500;
    background-color: #FA005A;
    height: 32px;    
    margin-top: 0rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-header-material {
    box-shadow: 5px 5px 5px black;
}

.nav-header-spacer{
    flex: 1 1 auto;
}
