<div class="poke-card" *ngIf="pokemon">
    <span class="number">#{{ pokemon?.order }}</span>

    <img class="img-container" [src]="pokemon?.sprites?.front_default" alt="">

    <span class="name"> {{ pokemon?.name }}</span>
    <div class="stats" *ngIf="pokemon" >
        <span>Tipo: <b>{{ pokemon.types[0].type.name }}</b></span> 
        <span>Peso: <b>{{ pokemon?.weight}}</b></span> 
        <span>Raridade: <b>{{ pokemon.base_experience | currency: "BRL"}}</b></span>
        <div *ngFor="let data of pokemon.stats">   
           <span>{{ data.stat.name }} : <b>{{ data.base_stat }}</b></span> 
        </div> 
        
    </div>

</div>
