<form class="form-search">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Digite o Pokémon desejado:</mat-label>
        <input type="text" matInput [formControl]="searchForm" [matAutocomplete]="auto" (change)="onChangeSearchInput($event)">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)='onSelectPokemon($event.option.value)'>
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-grid-list cols="1" rowHeight="1:1" *ngIf="pokemonSelected">
        <mat-grid-tile>
            <app-pokemon-card [pokemonSelected]="pokemonSelected"></app-pokemon-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- <div >
        <a [routerLink]="['pokemon', pokemonSelected]">Detalhes do Pokémon escolhido</a>
    </div> -->
    <mat-grid-list cols="1" rowHeight="6:1" >
        <mat-grid-tile>
            <button mat-raised-button color="primary" 
            [disabled]="!validSearch" 
            type="submit" 
            id="buttonAdd"
            (click)="onClickAddPokemon(pokemonSelected)">Adicionar</button>
        </mat-grid-tile>
    </mat-grid-list>
    
   
</form>