<form class="form-search">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Digite o Pokémon desejado:</mat-label>
        <input type="text" matInput [formControl]="searchForm" [matAutocomplete]="auto" (change)="onChangeSearchInput($event)">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)='onSelectPokemon($event.option.value)'>
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <app-pokemon-card [pokemonSelected]="pokemonSelected"></app-pokemon-card>
    <!-- <div *ngIf="pokemonSelected">
        <a [routerLink]="['pokemon', pokemonSelected]">Detalhes do Pokémon escolhido</a>
    </div> -->
    
    <button mat-raised-button color="primary" 
            [disabled]="!validSearch" 
            type="submit" 
            (click)="onClickAddPokemon(pokemonSelected)">Adicionar</button>
</form>